.nav-container {
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    flex-wrap: wrap;
    height: auto;
}

.nav-container a {
    text-decoration: none;
}


.nav-buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5vw;
}

.nav-buttons button {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    animation: battement 2s infinite cubic-bezier(.77, 0, 0, 1);
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 0px;
    border: none;
    border-radius: 100px;
    background-color: #25D366;
    transition: all 0.3s ease-in;
}

@keyframes battement {
    to {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    }
}


.logo-itineraire {
    width: 30px;
}

.logo-telephone {
    width: 30px;
}

.itineraire {
    margin-right: 12px;
}


.nav-buttons button a:hover { 
    color: rgb(5, 41, 61);
}

.nav-buttons button:hover { 
    background-color: rgb(243, 243, 243);
    color: rgb(29, 161, 58);
    cursor: pointer;
}

.navbar-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 25px;
}

ul li{
    list-style: none;
}

.nav-container ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 1rem;
}

.nav-container ul li a.retour {
    color: rgb(119, 219, 124);
}

.nav-container ul li a:hover {
    color: rgb(119, 219, 124);
    box-shadow: 0px 10px 10px rgba(29, 141, 66, 0.2);
}

.nav-container ul li a:active {
    opacity: 0.7;
}


.nav-container .logo {
    height: 7vh;
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo-div p{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
}

.btns {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    column-gap: 1vw;
}

.nav-buttons .itineraire-button {
    z-index: 10;
}

.nav-buttons a {
    z-index: 10;
}

.nav-buttons .itineraire-button {
    position: fixed;
    right: 0px;
    transform: rotate(90deg);
    padding-top: 11px;
    bottom: 50vh;
}

.nav-buttons .appel-button {
    position: fixed;
    left: 0;
    bottom: 47vh;
    transform: rotate(-90deg);
    padding-top: 11px;
}

.nav-buttons .appel-button img{

    transform: rotate(90deg);
}

.nav-buttons .itineraire-button img{

    transform: rotate(-90deg);
}

.nav-buttons button{
    font-size: 1.2rem;
}

.btns {
    width: 30px;
    column-gap: 20%;
}

.toggle-button {
    position: absolute;
    right: 1.5em;
    top: 2.5em;
    display: none;
}

@media screen and (max-width: 950px){


    .toggle-button {
        display: block;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
        height: 100%;
        row-gap: 50px;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        display: none;
    }

    .navbar-links.activee {
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .nav-container {
        align-items: flex-start;
        justify-content: center;
        padding: 10px 10px;
    }

    

    .nav-container .logo-div {
        padding-right: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-container {
        flex-direction: column;
        row-gap: 15px;
    }

    .logo-div p {
        font-size: 15px;
        font-weight: 500;
    }
}
