.paiements {
    background-color: beige; 
    padding: 50px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 50px;
    justify-content: center;
}

.paiements p {
    font-size: 1.7vh;
    width: 70%;
    max-width: 500px;
    text-align: center;
}

.paiements-logos {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 1000px;
}
