.body-container .restaurant {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.restaurant-photo {  
    position: absolute;
    top: 15;
    z-index: 0;
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.restaurant-photo img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

.body-container .restaurant p{
    max-width: 500px;
    width: 70%;
    font-size: 20px;
    line-height: 38px;
    color: white;
    font-weight: 400;
    z-index: 2;
    text-align: center;
}

.body-container .restaurant h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    z-index: 2;
    text-align: center;
    width: 80%;
    max-width: 700px;
}
