.contacts {
    padding: 20px; 
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
    background-color: azure;
}

.parking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: auto;
}