.section.decouverte {
  padding-top: 70px;
}

.sous-section.decouverte {
  padding-bottom: 30px;
}

.title.white {
  background: -webkit-linear-gradient(left, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -o-linear-gradient(right, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -moz-linear-gradient(right,rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.89) , rgb(255, 255, 255)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

h3.sous-titre {
  font-size: 30px;
  padding-bottom: 10px;
  text-align: left;
}

.sous-section.decouverte a {
  color: black;
}

.parag{
  font-size: 20px;
  color: rgb(212, 212, 212);
  text-align: left;
  padding-bottom: 40px;
}

@media screen and (max-width: 734px){

  h3.sous-titre {
    width: 330px;
    font-size: 27px;
  }
}
@media screen and (max-width: 400px){
  h3.sous-titre {
    font-size: 20px;
  }
}
