.footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.952);
}

.footer-div {
  color: white;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  color: rgb(177, 177, 177);
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:active {
  opacity: 0.7;
}