footer {
    background-color: #333;
    color: aliceblue; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer-div {
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}