@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 100%;
}

.body-div {
    position: relative;
    padding-bottom: 150px;
}

.all-content {
    min-height: 100vh;
    min-width: 100%;
}

.btn {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 24;
}
.icone {
    width: 102%
}

.paiements img {
    width: 40px;
}