* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  background-color: black;
  padding-bottom: 101px;
}






/* ---------- pour mentions legales ---------- */

.contenu {
  width: 60%;
  max-width: 600px;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(189, 189, 189);
  padding-bottom: 40px;
  padding-top: 40px;
}

@media screen and (max-width:833px) {
  .contenu {
    width: 75%;
    max-width: 500px;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(189, 189, 189);
    padding-bottom: 40px;
    padding-top: 40px;
  }
}