.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 48px;
  max-width: 1220px;
}

.accueil {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 185px;
  display: flex;
  justify-content: center;
  position: relative;
}

.div-accueil {
  width: 80%;
  max-width: 600px;
}

.hasan-img{
  position: absolute;
  width: 27vh;
  right: 0;
  bottom: 0;
  object-fit: contain;
  z-index: -1;
}

.diviser{
  height: 10px;
  background-color: white;
  width: 100%;
}

.title {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(left, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -o-linear-gradient(right, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -moz-linear-gradient(right,rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: linear-gradient(to right, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-accueil button {
  width: 80%;
  max-width: 300px;
  margin-top: 50px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 18px 28px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 50px;
  background-color: black;
  color: white;
  border-color: rgba(208, 133, 255, 0.89);
  transition: color 0.6s, background-color 0.6s, border-color 0.6s;
}

.div-accueil button:hover {
  background-color: white;
  color: black;
  border-color: white;
}


@media screen and (max-width: 734px){
  .accueil {
    padding: 100px 0px 0px 0px;
  }
  h1.title {
    font-size: 55px;
  }

  .div-accueil {
    width: 330px;
  }

  .div-accueil button {
    margin-top: 28px;
    padding: 14px 24px;
    font-size: 18px;
  }
  .hasan-img{
    width: 25vh;
  }
}
@media screen and (max-width: 400px){
  .hasan-img{
    width: 22vh;
  }
  h1.title {
    font-size: 40px;
  }
  .div-accueil button {
    margin-top: 28px;
    padding: 12px 22px;
    font-size: 15px;
    width: 80%;
  }
}


.coding {
  width: 50%;
  object-fit: contain;
  object-position: center;
  padding-top: 2vw;
  padding-bottom: 0;
  display: block;
  margin: 0 auto;
}

.title.service {
  padding-top: 50px;
}

.main.services {
  display: block;
}

.services p {
  color: white;
}



.voir {
  background-color: #3783db;
  color: white;
  margin-top: 30px;
  padding: 10px 35px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.voir:hover {
  color: rgb(228, 228, 228);
  background-color: #61b9ec;
}

.voir:active {
  opacity: 0.7;
}

.convaincre{
  color: rgba(245, 245, 245, 0.966);
  font-size: 25px;
  padding-top: 50px;
  width: 50%;
  max-width: 600px;
  line-height: 1;
}

.bleu {
  background: -webkit-linear-gradient(left, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -o-linear-gradient(right, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -moz-linear-gradient(right,rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: linear-gradient(to right, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.convaincre h2, .convaincre h1{
  font-size: 70px;
}

.list {
  padding-top: 50px;
  text-align: left;
  line-height: 40px;
}

.p-fin {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
  line-height: 40px;
}

@media screen and (max-width: 734px){
  .convaincre h2, .convaincre h1{
    font-size: 50px;
  }

  .convaincre {
    width: 330px;
    font-size: 22px;
  }

  
}
@media screen and (max-width: 400px){

  .convaincre h2, .convaincre h1{
    font-size: 40px;
  }

  .convaincre {
    font-size: 16px;
  }
  
}