body{
    background-color: #f3f3f3;
    font-family: 'Poppins';
  }
  .menu{
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 12px;
    margin-bottom: 20px;
  }

  .heading{
    background-color: #ff9742;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 50px 0px;
    grid-column: 1/-1;
    text-align: center;
    display: inline-block;
  }
  .heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
  }
  .heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
  }
  .food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
  }
  .food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  
  .details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr -10px; /*ICI POUR HAUTEUR MENUS */ 
    grid-row-gap: 15px;
  }
  .details-sub{
    display: grid;
    grid-template-columns: auto auto;
  }
  .details-sub>h5{
    font-weight: 600;
    font-size: 18px;
  }
  .price{
    text-align: right;
  }
  .details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
  }
  /*
  .details>button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
  }
  */

@media screen and (max-width: 400px){

  .menu{
    grid-template-columns: repeat( auto-fit, minmax(270px,1fr));
  }
  
}