.header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000000e7, #0e0e0ee5);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  height: 100%;
  width: 100%;
  margin: 0 2vw;
}

.name {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: hsla(240, 11%, 96%, 0.801);
}

.name:hover {
  color: white;
}


.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  flex-shrink: 0;
}

.link {
  color: hsla(240, 11%, 96%, 0.801);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.2s;
  transition: color 0.5s;
  padding: 0px 8px;
}


.navbar .link:hover {
  border-radius: 30px;
  color: white;
}

.navbar ul li a:active {
  opacity: 0.5;
}


@media screen and (max-width:833px) {
  .header{
    height: 48px;
  }
  .navbar {
    margin-top: 0px;
    flex-direction: column;
    row-gap: 10px;
    flex-shrink: 0;
    justify-content: center;
  }

  .navbar ul {
    flex-wrap: wrap;
  }

  .name {
    display: none;
  }

}

