.paiements {
    background-color: beige; 
    text-align: center;
    padding: 50px 30px; 
    display: flex;
    flex-direction: column; 
    gap: 5vh;
    height: auto;
    justify-content: center;
    width: 100%;
}

.paiements p {
    font-size: 1.3vh;
}

.paiements h2 {
    letter-spacing: 1px;

}

.paiements-logos {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:400px) {

    .paiements p {
    font-size: 1.2vh;
    }

    .paiements h2 {
        font-size: 1rem;
    }

    .paiements {
        gap: 5vh;  
    }
}