.main.services {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.coding {
  max-height: 600px;
  object-fit: contain;
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 0;
  display: block;
}


.services p {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 90%;
  margin: 0 auto;
}


.en-valeur {
  background: -webkit-linear-gradient(left, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -o-linear-gradient(right, rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: -moz-linear-gradient(right,rgba(158, 124, 173, 0.89) , rgb(87, 169, 207));
  background: linear-gradient(to right,  rgb(43, 177, 255), rgb(255, 255, 255)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 734px){
  .title.service{
    font-size: 50px;
  }

  .services p {
    font-size: 22px;
  }

  
}
@media screen and (max-width: 400px){
  .title.service{
    font-size: 40px;
  }

  .services p {
    font-size: 16px;
  }

  
}