.coding {
  max-height: 600px;
  object-fit: contain;
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 0;
  display: block;
}

.service {
  background: -webkit-linear-gradient(rgb(255, 255, 255) , rgb(4, 93, 134));
  background: -o-linear-gradient(rgb(255, 255, 255) , rgb(4, 93, 134));
  background: -moz-linear-gradient(rgb(255, 255, 255) , rgb(4, 93, 134));
  background: linear-gradient(rgb(255, 255, 255) , rgb(4, 93, 134)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}